<html>

<head>
  <meta charset="utf-8" />
  <title>Konva Project</title>

</head>

<body>
  <div id="container"> </div>
  <div id="buttons">
    <div id="Drawing">
      <button id="Circle" (click)= "circlefunc()">Circle</button>
      <button id="Rectangle" (click)= "rectanglefunc()">Rectangle</button>
      <button id="Triangle" (click)= "trianglefunc()">Triangle</button>
      <button id="Arrow" (click)= "arrowfunc()">Arrow</button>
      <button id="Tick" (click)="tickfunc()">Tick</button>
      <button id="Draw" (click)= "drawfunc()">Draw</button>
      <button id="Text" (click)= "textfunc()">Text</button>
       <input onInput="colour = this.value" type="color" class="color-picker">
    </div>
    <div id="Cleaning">
      <button id='Clean' (click)= "cleanfunc()">Clean</button>
      <button id='Cleanshapes' (click)= "cleanshapesfunc()">Clean shapes</button>
      <button id='CleanCircle' (click)= "cleancirclefunc()">Clean Circle</button>
      <button id='CleanRectangle' (click)= "cleanrectanglefunc()">Clean Rectangle</button>
      <button id='Undo' (click)= "undofunc()">Undo</button>
    </div>
    <div id="Image">
      <input type="file" id="file_input">
      <button id="save" (click)= "downloadfunc()">Download</button>
    </div>
  </div>
  <script>

  </script>
</body>

</html>
